*{
  font-family: Arial, sans-serif;
}

html{
  background-color: black;
}
body{
  margin: auto;
  width: 75%;
  background-color: #dcdcdc;
}
.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.controls{
  grid-column: 1/2;
  background-color: skyblue;
  text-align: left;
}

.menu h2{
  padding-left: 1.5rem;
  font-size: 1.5rem;
  color: white;
}

.menu h2 img{
  padding-right: .25rem;
  height: 2rem;
  width: 2rem;
}

.menu ul{
  padding-bottom: 2rem;
}

.menu ul li{
  list-style-type: none;
  padding: .5rem 0 .5rem 0;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
}

.menu ul li img{
  padding-right: .5rem;
  height: 1.2rem;
  width: 1.2rem;
}

.main{
  grid-column: 2/3;
  display: grid;
  grid-template-rows: .5fr 4fr;
}

.header{
  grid-row: 1/2;
  background-color: white;
  padding: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  padding: .25rem 2.5rem
}

.row1{
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.search{
  grid-column: 1/2;
  place-items: center;
}

.s-bar{
  width: 30vw;
  height: 6vh;
  border-radius: 15px;
  background-color: #dcdcdc;
  border-style: none;
}

.notifs{
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr ;
  place-items: center;
}

.notifs img:first-child{
  grid-column: 1/2;
}

.notifs img:nth-child(2){
  grid-column: 2/3;
}

.notifs p{
  grid-column: 3/4;
}

.row2{
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.profile{
  grid-column: 1/2;
  display: grid;
  grid-template-columns: .5fr 3fr;
  align-items: center;
  gap: 5px;
}

.buttons{
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 20px;
}

button{
  background-color: skyblue;
  border-style: none;
  color: white;
  height: 2rem;
  border-radius: 15px;
}

.dash{
  grid-row: 2/3;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.dash label{
  font-size: 1.1rem;
  font-weight: 600;
}

.projects{
  grid-column: 1/2;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 1%;
}

.tile{
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  border-left: solid 8px gold;
  height: 35vh;
}

.desc strong{
  font-size: .9rem;
}

.desc p{
  font-size: .8rem;
  margin-right: 2vw;
}

.updates{
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 2fr 2fr;
  gap: 20px;
}

.ancmts{
  grid-row: 1/2;
}

.trend{
  grid-row: 2/3;
}

.ancmts article,
.trend article{
  background-color: white;
  height: 55vh;
  margin-top: 3%;
  border-radius: 5px;
  padding: 1rem;
}

.upcmng{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
}

.upcmng div:first-child{
  grid-row: 1/2;
}

.upcmng div:nth-child(2){
  grid-row: 2/3;
  border-top: solid 2px gray ;
  border-bottom: solid 2px gray;
}

.upcmng div:nth-child(3){
  grid-row: 3/4;
}

.upcmng div p{
  font-size: .7rem;
  padding: 0px 10px 0px 4px
}

.upcmng div p strong{
  font-size: .8rem
}

.trend article{
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  font-size: .8rem;
  padding: 1rem;
}

.coworkers{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  gap: 10px;
}

.coworkers img{
  grid-column: 1/2;
}

.coworkers p{
  grid-column: 2/3;
}