.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
  }

  .menu{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: skyblue;
  }

  ul li{
    list-style-type: none;
  }