.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
  }

  .banner{
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .menu{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(1, 134, 187);
  }

  ul li{
    list-style-type: none;
    color: white;
  }