*{
  font-family: Arial, sans-serif;
}

html{
  background-color: black;
}
body{
  margin: auto;
  width: 75%;
  background-color: #dcdcdc;
}
.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.controls{
  grid-column: 1/2;
  background-color: rgb(80, 220, 157);
  text-align: left;
}

.menu{
  display: grid;
  justify-items: start;
}

.menu h2{
  display: grid;
  grid-template-columns: .5fr 5fr;
  align-items: center;
  padding-left: 2rem;
  font-size: 1.5rem;
  color: white;
}

.menu h2 img{
  padding-right: .25rem;
  height: 2.5rem;
  width: 2.5rem;
}

.menu ul{
  padding-bottom: 2rem;
}

.menu ul li{
  list-style-type: none;
  padding: .75rem 0 .75rem 0;
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  display: grid;
  grid-template-columns: .5fr 5fr;
  align-items: center;
}

.menu ul li img{
  padding-right: .5rem;
  height: 1.4rem;
  width: 1.4rem;
}

.menu img{
  filter: invert(100%);
}

.main{
  grid-column: 2/3;
  display: grid;
  grid-template-rows: .5fr 4fr;
}

.header{
  grid-row: 1/2;
  background-color: white;
  padding: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  padding: .25rem 2.5rem
}

.row1{
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.search{
  grid-column: 1/2;
  display: grid;
  grid-template-columns: .5fr 10fr;
  align-items: center;
}

.search label{
  grid-column: 1/2;
}

.search input{
  grid-column: 2/3;
  padding: 0 20px 0 20px;
}

.search img{
  height: 2rem;
  width: 2rem;
}

.s-bar{
  width: 30vw;
  height: 4vh;
  border-radius: 30px;
  background-color: #dcdcdc;
  border-style: none;
}

.notifs{
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  place-items: center;
}

.notifs img:first-child{
  grid-column: 1/2;
  height: 2rem;
  width: 2rem;
}

.notifs img:nth-child(2){
  grid-column: 2/3;
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
}

.notifs p{
  grid-column: 3/4;
}

.row2{
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.profile{
  grid-column: 1/2;
  display: grid;
  grid-template-columns: .5fr 3fr;
  align-items: center;
  gap: 5px;
}

.profile img{
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
}

.buttons{
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 20px;
}

.button{
  background-color: rgb(80, 220, 157);
  border-style: none;
  color: white;
  height: 2.2rem;
  border-radius: 20px;
  font-size: 1.1rem;
}

.dash{
  grid-row: 2/3;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  box-shadow: inset -2px 3px 6px #8d8d8e;
}

.dash label{
  font-size: 1.1rem;
  font-weight: 600;
}

.projects{
  grid-column: 1/2;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 1%;
}

.tile{
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  border-left: solid 8px gold;
  height: 20vh;
}

.desc strong{
  font-size: 1rem;
}

.desc p{
  font-size: 0.9rem;
  margin-right: 2vw;
}

.icons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: end;
  align-items: center;
}

.tile:first-child > .icons,
.tile:nth-child(3) > .icons{
  height: 6rem;
}

.tile:nth-child(2) > .icons{
  height: 2.5rem;
}

.tile:nth-child(4) > .icons,
.tile:nth-child(5) > .icons,
.tile:nth-child(6) > .icons{
  height: 4rem;
}

.icons img{
  height: 1.5rem;
  width: 1.5rem;
}

.icons img:first-child{
  grid-column: 4/5;
}

.icons img:nth-child(2){
  grid-column: 5/6;
}

.icons img:nth-child(3){
  grid-column: 6/7;
}

.updates{
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 2fr 2fr;
  gap: 20px;
}

.ancmts{
  grid-row: 1/2;
}

.trend{
  grid-row: 2/3;
}

.ancmts article,
.trend article{
  background-color: white;
  height: 31vh;
  margin-top: 3%;
  border-radius: 5px;
  padding: 1rem;
}

.upcmng{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
}

.upcmng div:first-child{
  grid-row: 1/2;
}

.upcmng div:nth-child(2){
  grid-row: 2/3;
  border-top: solid 2px gray ;
  border-bottom: solid 2px gray;
}

.upcmng div:nth-child(3){
  grid-row: 3/4;
}

.upcmng div p{
  font-size: .7rem;
  padding: 0px 10px 0px 4px
}

.upcmng div p strong{
  font-size: .8rem
}

.trend article{
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  font-size: .8rem;
  padding: 1rem;
}

.coworkers{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  gap: 10px;
}

.coworkers img{
  grid-column: 1/2;
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
}

.coworkers p{
  grid-column: 2/3;
}